<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/stylish-portfolio.js"></script>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="css/stylish-portfolio.css" rel="stylesheet">

    <title>Smart Class Control</title>
  </head>

  <body>
    <!-- Header -->
    <header class="header" id="top">
      <div class="text-vertical-center">
        <h2>Smart Class Control</h2>
        <h6>Welcome to Smart Class Control</h6>
        <br>
        <input type="button" onclick="sign_in()" value="Sign in" class="btn btn-dark btn-lg js-scroll-trigger" />
        <input type="button" onclick="sign_up()" value="Sign up" class="btn btn-dark btn-lg js-scroll-trigger" />
        

    </div>
    </header>

    <script>
        function sign_in(){
            location.href = "/sign_in";
        }

        function sign_up(){
            location.href = "/sign_up";
        }
    </script>
    </footer>

  </body>
</html>
